<form [formGroup]="sortingForm" class="padding40">
  <div class="row">
    <mat-form-field class="example-full-width">
      <mat-label>Sort By</mat-label>
      <mat-select formControlName="sortByFiledValue">
        <mat-option value="transactionId">Transaction Id</mat-option>
        <mat-option value="shares">Shares</mat-option>
        <mat-option value="possiblematches">Possible Matches</mat-option>
        <mat-option value="accountid">Account Id</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-radio-group formControlName="orderBy">
      <mat-radio-button value="asc">ASC</mat-radio-button>
      <mat-radio-button value="desc">DESC</mat-radio-button>
    </mat-radio-group>
  </div>
</form>
<div class="row">
    <app-drawer-panels [assignableData] = "transactions" [sortByValue]="sortByValue" [orderByValue]="orderByValue"></app-drawer-panels>
</div>
