<div class="container mt-5 mb-5 pl-5 ">
  <div class="row">
    <form [formGroup]="userForm">
      <br /><br /><br /><br /><br /><br />
      <mat-form-field class="example-full-width">
        <mat-label>Phone Number</mat-label>
        <input matInput id="tel" class="form-control" phoneMask [phoneId]="'#tel'" [preValue]="userForm.value.phone"  [phoneControl]="userForm.controls['phone']" formControlName="phone" minlength="14" maxlength="14" 
        [ngClass]="(userForm.controls['phone'].invalid)? 'errmsg' : 'validmsg'">
        <mat-error>In valid</mat-error>
      </mat-form-field>      
    </form>
  </div>
</div>